.liter-regular {
    font-family: "Liter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fira-sans-condensed-regular {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    color: white;
    text-decoration: none;
    font-family: "Liter", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

body {
    background: #192E59;
    margin-top: 6vh;
    height: 94vh;
}

header {
    background: #624873;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 107px;
    padding: 1%;
    width: 80vw;
    position: relative;
    left: 8vw;
}

p {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.7rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 32vw;
    position: relative;
    right: 2vw;
}

a {
    font-size: 2rem;
    transition: 0.2s;
}

nav a {
    z-index: 3;
}

nav a:hover {
    background-color: #575757;
}

#homeLink {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 3vw;
    transition: 0.2s;
}

#homeLink:hover {
    background-color: #745489;;
}

h1, h3 {
    font-weight: bold;
}

h3 {
    font-size: 4rem;
}

main {
    display: flex;
    width: 76vw;
    position: relative;
    left: 12vw;
}

#indexMain {
    margin-top: 6vh;
    left: 8vh;
    width: 83vw;
}

#indexText {
    display: flex;
    flex-direction: column;
    width: 47vw;
    position: relative;
    left: 16vw;
    justify-content: space-between;
    height: 44vh;
}

#aboutMain {
    display: flex;
    flex-direction: column;
    width: 77vw;
    position: relative;
    left: 12vw;
    margin-top: 6vh;
    justify-content: space-between;
    height: 33vh;
}

#portfolioMain {
    flex-direction: column;
    width: 78vw;
    position: relative;
    left: 12vw;
}

 #projectsMain {
    flex-direction: column;
    margin-top: 4vh;
    justify-content: space-between;
    height: 61vh;
    left: 1vw;
}

#portfolioSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 74vw;
    z-index: 1;
}

#projectText {
    width: 76vw;
    position: relative;
    left: 11vw;
}

.portfolioArticle {
    background: #395BBF;
    padding: 0.5%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 42vh;
}

.portfolioImg {
    width: 22vw;
    border-radius: 50px;
}

#projectImg {
    display: flex;
    flex-direction: row;
    width: 76vw;
    justify-content: space-between;
    position: relative;
    left: 11vw;
    z-index: 1;
}

.projectClass {
    background: #395BBF;
    padding: 0.5%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 42vh;
    width: 22vw;
}

.projectImgs {
    width: 22vw;
}

.projectP {
    width: 20vw;
    text-align: center;
}

#selfPhoto {
    position: relative;
    left: 8vw;
    width: 38vh;
}

footer {
    background: #09101E;
    height: 13vh;
    position: relative;
    bottom: -11.4vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#footerNav {
    position: relative;
    right: 52vw;
    bottom: 4vh;
}

#footerNav a {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#footerText {
    width: fit-content;
    margin-right: 1vw;
    margin-bottom: 1vh;
    z-index: 3;
}

#aboutFooter {
    bottom: -28.8vh;
}

#portfolioFooter {
    bottom: -10.4vh;
}

#projectFooter {
    bottom: -3vh;
}

/* Contact */

#contactMain {
    flex-direction: column;
    margin-top: 4vh;
    justify-content: space-between;
    height: 73vh;
}

#contactImg {
    display: flex;
    justify-content: space-between;
    width: 17vw;
}

button {
    background: #192E59;
    width: 6vw;
    position: relative;
    left: 27vw;
    border-radius: 7px;
}

#contactPhone {
    display: flex;
    justify-content: space-between;
    width: 21vw;
    align-items: center;
}

#contactEmail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 28vw;
}

#emailImg {
    width: 7vw;
}

#phoneImg {
    width: 7vw;
}

#contactSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 51vh;
}

#contactFooter {
    bottom: -4vh;
}

/* Personal */

#personalMain {
    flex-direction: column;
    width: 74vw;
    position: relative;
    left: 12vw;
    margin-top: 4vh;
    justify-content: space-between;
    height: 51vh;
}

#personalImg {
    display: flex;
    justify-content: space-around;
}

#personalFooter {
    bottom: -13vh;
}

/* Resume */

#resumeImg {
    width: 18vw;
}

#resumeFooter {
    bottom: -19.8vh;
}

#resumeLink {
    margin-left: 17vw;
    position: relative;
    top: 13vh;
}

/* Writing */

.writingImg{
    border-radius: 50px;
}

#writingMain {
    flex-direction: column;
    margin-top: 4vh;
    justify-content: space-between;
    height: 52vh;

}

#writingArticle {
    display: flex;
    justify-content: space-around;
}

#writingFooter {
    bottom: -11.9vh;
}

/* Menu */

.side-menu {
    height: 30%;
    padding-bottom: 70%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #09101E;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.side-menu a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.2s;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7rem;
    z-index: 3;
}

.side-menu a:hover {
    background-color: #575757;
}

.close-btn {
    position: absolute;
    top: 2vh;
    right: 1.5vw;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    z-index: 3;
}

.open-btn {
    font-size: 3rem;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
    left: -1vw;
    transition: 0.2s;
}

  .open-btn:hover {
    background-color: #745489;
}