.liter-regular {
    font-family: "Liter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fira-sans-condensed-regular {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    color: white;
    text-decoration: none;
    font-family: "Liter", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

body {
    background: #192E59;
    margin-top: 6vh;
    height: 94vh;
}

header {
    background: #624873;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 107px;
    padding: 1%;
    width: 80vw;
    position: relative;
    left: 8vw;
}

p {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.7rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 32vw;
    position: relative;
    right: 2vw;
}

a {
    font-size: 2rem;
}

#homeLink {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 3vw;
}

h1, h3 {
    font-weight: bold;
}

h3 {
    font-size: 4rem;
}

main {
    display: flex;
    width: 76vw;
    position: relative;
    left: 12vw;
}

#indexMain {
    margin-top: 6vh;
    left: 8vh;
    width: 83vw;
}

#indexText {
    display: flex;
    flex-direction: column;
    width: 56vw;
    position: relative;
    left: 16vw;
    justify-content: space-between;
    height: 44vh;
}

#aboutMain {
    display: flex;
    flex-direction: column;
    width: 78vw;
    position: relative;
    left: 12vw;
    margin-top: 6vh;
    justify-content: space-between;
    height: 33vh;
}

#portfolioMain {
    flex-direction: column;
    width: 78vw;
    position: relative;
    left: 12vw;
}

 #projectsMain {
    flex-direction: column;
    margin-top: 4vh;
    justify-content: space-between;
    height: 61vh;
    left: 1vw;
}

#portfolioSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 74vw;
}

#projectText {
    width: 76vw;
    position: relative;
    left: 11vw;
}

.portfolioArticle {
    background: #395BBF;
    padding: 0.5%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 42vh;
}

.portfolioImg {
    width: 22vw;
    border-radius: 50px;
}

#projectImg {
    display: flex;
    flex-direction: row;
    width: 76vw;
    justify-content: space-between;
    position: relative;
    left: 11vw;
}

.projectClass {
    background: #395BBF;
    padding: 0.5%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 42vh;
    width: 22vw;
}

.projectImgs {
    width: 22vw;
}

.projectP {
    width: 20vw;
    text-align: center;
}

#selfPhoto {
    position: relative;
    left: 8vw;
    width: 38vh;
}

footer {
    background: #09101E;
    height: 13vh;
    position: relative;
    bottom: -11.4vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#footerText {
    width: fit-content;
    margin-right: 1vw;
    margin-bottom: 1vh;
}

#aboutFooter {
    bottom: -28.8vh;
}

#portfolioFooter {
    bottom: -10.4vh;
}

#projectFooter {
    bottom: -3vh;
}

/* Contact */

#contactMain {
    flex-direction: column;
    margin-top: 4vh;
    justify-content: space-between;
    height: 65vh;
}

#emailContainer {
    display: flex;
    flex-direction: column;
    width: 33vw;
    padding: 2%;
    background: #335AA6;
    border: 5px white solid;
    border-radius: 50px;
    height: 34vh;
    justify-content: space-between;
}

#contactImg {
    position: absolute;
    left: 42vw;
    top: 12vw;
    display: flex;
    justify-content: space-between;
    width: 17vw;
}

button {
    background: #192E59;
    width: 6vw;
    position: relative;
    left: 27vw;
    border-radius: 7px;
}

.emailDiv {
    display: flex;
    flex-direction: column;
}

#emailMessage {
    height: 9vh;
    border-radius: 7px;
}

#email {
    border-radius: 7px;
}

#emailName {
    border-radius: 7px;
}

#contactPhone {
    display: flex;
    justify-content: space-between;
    width: 21vw;
    position: absolute;
    right: 13vw;
    top: 43vh;
    align-items: center;
}

#phoneImg {
    width: 7vw;
}

/* Personal */

#personalMain {
    flex-direction: column;
    width: 74vw;
    position: relative;
    left: 12vw;
    margin-top: 4vh;
    justify-content: space-between;
    height: 51vh;
}

#personalImg {
    display: flex;
    justify-content: space-around;
}

#personalFooter {
    bottom: -13vh;
}